body{
    margin:0;
    background-color: #F5F7FA;
}

@font-face {
    font-family: "IBM-Plex-Sans";
    src: url("./IBM_Plex_Sans/IBMPlexSans-Regular.ttf") format("truetype");
}

#content{
    background-color: #E6E9ED;
    border-radius: 6px;
    border: 1px ridge #dee0e4;
    width:80%;
    margin:auto;
    margin-top:1%;
    padding:1%;
    font-family: IBM-Plex-Sans;
    font-weight: 900;
}

#mainWrap{
    color:white;
    font-size:24px;
    background: linear-gradient(#6eb4d7,#6bceff);
    padding: 1%;
    border-radius: 6px;
    margin: auto;
    width:98%;
}